<div class='nested-fields mb-3'>
  <div class="row">
    <div class="col mb-3">
      <label class="form-label">Select an Action</label>
      <%= f.select :name, BonusEntry.names.keys.map { |w| [w.titleize, w] }, { include_blank: "Select entry" }, { class: "form-control", required: true } %>
    </div>
    <div class="col mb-3">
      <label class="form-label">Points</label>
      <%= f.number_field :action_points, required: true, value: 2, class: "form-control", placeholder: "Points" %>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label class="form-label">Action Text</label>
      <%= f.text_field :action_text, required: true, class: "form-control", placeholder: "Like me on Facebook" %>
    </div>
    <div class="col mb-3">
      <label class="form-label">Action URL</label>
      <%= f.url_field :action_url, required: true, class: "form-control", placeholder: "https://facebook.com/microsoft" %>
    </div>
  </div>
  <%= link_to_remove_association "Remove", f %>
</div>

<style type="text/css">
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}
</style>