<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= yield :title %></title>

    <%= favicon_link_tag "/favicon-32x32.png" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield :facebook_properties %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

    <div id="fb-root"></div>

    <% unless controller_name == "contestants" && ["show", "new"].include?(action_name) %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container container-fluid">
          <%= link_to 'CatCatCat', root_url, class: "navbar-brand" %>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <% if user_signed_in? %>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
              <div class="navbar-nav" style="margin-left: -92.61px;">
                <%= link_to 'Home', root_url, class: "nav-link active text-uppercase" %>
                <a href="/shopifapp" class="nav-link active text-uppercase">Shopify Integration</a>
                <%= link_to 'Dashboard', campaigns_url, class: "nav-link active text-uppercase" %>
                <%= link_to 'Account', edit_user_registration_path, class: "nav-link active text-uppercase" %>
                <%= link_to 'Sign out', destroy_user_session_path, class: "nav-link active text-uppercase", method: "delete" %>
              </div>
            </div>
          <% else %>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
              <div class="navbar-nav" style="margin-left: -92.61px;">
                <%= link_to 'Home', root_url, class: "nav-link active text-uppercase" %>
                <a href="/shopifapp" class="nav-link active text-uppercase">Shopify Integration</a>
                <%= link_to 'Sign up', new_user_registration_path, class: "nav-link active text-uppercase" %>
                <%= link_to 'Sign in', new_user_session_path, class: "nav-link active text-uppercase" %>
              </div>
            </div>
          <% end %>
        </div>
      </nav>
    <% end %>

    <%# if notice %>
      <!-- <div class="alert alert-success" role="alert"> -->
        <%#= notice %>
      <!-- </div> -->
    <%# end %>

    <%# if alert %>
      <!-- <div class="alert alert-danger" role="alert"> -->
        <%#= alert %>
      <!-- </div> -->
    <%# end %>

    <%= yield %>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v12.0" nonce="WxpYmZQn"></script>
  </body>
</html>
